body{
    font-family: 'League Spartan', sans-serif;
   
}
a {
color: white;
font-size: 13px;
text-decoration: none;
font-weight:bold;

}

ul,li {
margin: 0;
padding: 0;
}
.main{
  position:absolute;
  z-index:1;
  
}
.main li{
  list-style:none;
  background: #393939;
  width:100px;
  padding: 0 5px;
  border: 1px solid black;
  height: 30px;

  line-height: 30px;
  
  -webkit-transition: all .5s ease-in-out;
  
}

.main li:nth-child(odd){
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.main li:nth-child(even){
   margin-top:-65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}



.hov:hover li:nth-child(odd){
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top:0;
}

.hov:hover li:nth-child(even){
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
   margin-top:0;
}

.main li:first-child{
  margin-top:0;
}

.hov{
  position:relative;
  height: 40px;
  width:112px;
  background: #393939;
  color: white;
  font-weight:bold;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  list-style:none;
  z-index:2;
  
}

.hov2{
    position:relative;
    height: 40px;
    width:112px;
    background: #393939;
    color: white;
    font-weight:bold;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    list-style:none;
    z-index:2;
    
  }

