body {
  margin: 0;
  background-image: url(/bilder/THE\ AUSTRALIA\ GUIDE.png);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.headerimg {
  width: 98%;
  height: auto;
  position: relative;
  padding: 1%;
}
.blur {
  width: 90%;
  padding: 5%;
  filter: blur(18px);
  height: auto;
  border-style: hidden;
  border-width: 5px;
  border-color: black;
}

.div {
  background-color: gray;
  position: fixed;
  height: 90vh;
  width: 90vw;
  bottom: 5%;
  left: 5%;
  right: 5%;
  top: 5%;

  border-style: solid;
  border-width: 5px;
  border-color: black;
}
.logoimg {
  position: fixed;
  height: 10vh;
  width: 10vw;
  bottom: 5%;
  left: 50%;
  right: 50%;
}

nav {
  position: relative;
  top: 1%;
  left: 40%;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

nav ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
  display: inline-block;
}

li > a:after {
  content: "";
} /* Change this in order to change the Dropdown symbol */

li > a:only-child:after {
  content: "";
}

nav ul li a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: black;
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li:hover ul {
  display: block;
}
